* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;    
    background-color: var(--light-blue);
}

:root {
    --light-blue: hsl(212, 45%, 89%);
    --text-black: hsl(218, 44%, 22%);
    --text-gray: hsl(220, 15%, 55%);
    --white: hsl(0, 0%, 100%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /*Centraliza horizontalmente*/
}

.card-wrap {
    background-color: var(--white);
    border-radius: 12px;
    padding: 14px 14px 50px;
    width: 320px;
}

.code-img {
    background-color: var(--white); /*Corrects bg color clash with the root*/
}

.code-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
}

.card-wrap .card-title, .card-subtitle {
    background-color: var(--white);
    text-align: center;
}

.card-title {
    color: var(--text-black);
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 22px;
}

.card-subtitle {
    color: var(--text-gray);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 16px;
}

.attribution {
    text-align: center;
    margin: 12px;
}

.attribution p {
    color: var(--text-black);
    font-size: 12px;
}

.attribution a {
    color: var(--text-black);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--text-gray);
    text-decoration: none;
}

@media (max-width: 375px) {

    .card-wrap {
        border-radius: 12px;
        margin-top: 72px;
        padding: 14px 14px 40px;
        width: 250px;
    }

    .code-img {
        max-width: 250px; 
        max-height: 250px; 
        border-radius: 8px;
    }
    
    .card-title {
        font-size: 1.2rem;
    }
    
    .card-subtitle {
        font-size: .8rem;
    }
    
    .attribution p {
        color: var(--text-black);
        font-size: .6rem;
    }
    
}